doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/css/style.css")
    script(src="https://kit.fontawesome.com/b50c088abf.js" crossorigin="anonymous")
    title To Do List
body
    div(class="container")
        div(class="app")
            div(class="task-header")
                h2(class="text-1") #{date}
                form(class="task-form",action="/api/create", method="post")
                    input( type="text", id="input-task" name="task", placeholder="New Task")
                    button( class="btn-add", id="btn-add" type="submit")
                        strong ADD
            div(class="task-main")
                ul  
                    li(class="task list-empty", style=`display:${display}`)
                        h3(class="text-3") List Is Empty
                    each item in Tasks
                        li(class="task")
                            button(class='btn-remove', id=`${item.id}`)
                                i(class="fas fa-times remove")
                            input(type="checkbox", class="check")
                            label(for="" class="text")= item.task    
            a(href="/", class="btn-clear") CLEAR
    script(src="/js/app.js")
footer