doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/css/style.css")
    script(src="https://kit.fontawesome.com/b50c088abf.js" crossorigin="anonymous")
    title To Do List
body
    div(class="container")
        div(class="app")
            div(class="task-header")
                h2(class="text-1") #{date}
                form(class="task-form",action="/api", method="post")
                    input( type="text", id="input-task" name="task", placeholder="New Task")
                    button( class="btn-add", id="btn-add" type="submit")
                        strong ADD
                    //- button(class ="btn" id="btn-clear") Clear
            div(class="task-main")
                ul  
                    li(class="task list-empty")
                        h3(class="text-3") List Is Empty
                    li(class="task")
                        span(class="remove") <i class="fas fa-times"></i>
                        input(type="checkbox", class="check")
                        label(for="" class="text") Hello World 1
                    li(class="task")
                        span(class="remove") <i class="fas fa-times"></i>
                        input(type="checkbox", class="check")
                        label(for="" class="text") Hello World 2
                    li(class="task")
                        span(class="remove") <i class="fas fa-times"></i>
                        input(type="checkbox", class="check")
                        label(for="" class="text") Hello World 3
                    li(class="task")
                        span(class="remove") <i class="fas fa-times"></i>
                        input(type="checkbox", class="check")
                        label(for="" class="text") Hello World 4
            a(href="#", class="btn-clear") CLEAR
    script(src="/js/app.js")
footer